.profile-wrapper .user-info-wrapper {
	border-radius: 5px;
	border: solid #001529 3px;
	padding: 10px;
}
.formcontrol {
	padding:  5px;
	margin: 2px;
}

h2 {
	margin-top: 0px;
	margin-bottom: 20px;

}