.profile-wrapper .user-info-wrapper {
	border: solid #001529 3px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.name {
		margin-top: 10px;
		font-size: 20px;
	}
	.email {
		margin-top: 20px;
		font-size: 14px;
	}
	.teacher {
		margin-top: 20px;
	}
	.student {
		margin-top: 15px;
	}
}
