.usercard {
  background-color: #fff;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 0rem;
  font-weight: 500;
}
.usercard__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.usercard__top {
  display: flex;
  align-items: center;
}
.usercard__top > * {
  margin-left: 10px;
}
.usercard__Cnt {
  padding: 0.5rem 0;
}