.home{
  max-width: 1260px;
  width: 100%;
  margin: auto;
  margin-top: 30px;
  display:flex;
  justify-content:flex-start;
  flex-direction:column;
  
}

.home__class--title{
  font-weight: 500;
  font-size: 18px;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
}

.home__class--item{
  padding-left: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}