.profile-wrapper {
    display: grid;
    grid-template-columns: 500px auto;
    column-gap: 30px;
    max-width: 1260px;
    width: 100%;
    margin: auto;
    margin-top: 30px;
  }
  .right {
    display: grid;
    grid-template-rows: 500px auto;
  
  }
  